@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");

:root {
  --transitionShort: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  --transitionLong: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

  --color-primary-50: #e9fbf1;
  --color-primary-100: #d4f7e4;
  --color-primary-200: #a9efc8;
  --color-primary-300: #7ee7ad;
  --color-primary-400: #52e092;
  --color-primary-500: #22bb67;
  --color-primary-600: #1fad5f;
  --color-primary-700: #188147;
  --color-primary-800: #10562f;
  --color-primary-900: #082b18;
  --color-primary-950: #04160c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  transition: var(--transitionLong);
}

body.dark {
  background: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", serif;
  font-weight: 700;
  line-height: 125%;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

p.big {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  font-family: "Clash Display", serif;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body.dark a {
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

img.full {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.half {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

img.rounded {
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

nav > * {
  display: flex;
  flex: 1;
}

nav .branding {
  margin-right: auto;
}

nav .wrapper > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
  background: black;
  padding: 16px 8px;
  border-radius: 100px;
  justify-content: center;
}

nav .wrapper > ul a {
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  transition: background ease-in 0.1s;
  font-weight: 500;
}

nav .wrapper > ul a.active,
nav .wrapper > ul a:hover {
  background: white;
  color: black;
}

.btn-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}

.btn-list.center {
  justify-content: center;
}

nav .btn-list #profile {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 8px 16px;
  border-radius: 100px;
  border: 2px solid var(--color-primary-300);
  color: black !important;
  transition: ease-in 0.2s;
}

nav .btn-list #profile:hover {
  background: var(--color-primary-50);
  transform: translateY(-4px);
}

nav .btn-list #profile img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin-right: 8px;
}

.burger_icon {
  width: 24px;
  height: 24px;
  flex: 0;
  display: none;
}

button.no-style {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.btn {
  padding: 16px 24px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: var(--transitionShort);
  font-weight: 500;
  color: black !important;
  display: inline-block;
}

.btn.big {
  padding: 24px 32px;
  font-size: 16px;
}

.btn.full {
  width: 100%;
  text-align: center;
}

.btn:hover {
  background: rgb(240, 240, 240);
  border: 2px solid lightgray;
}

.btn.green {
  background: var(--color-primary-500);
  color: white !important;
}

.btn.green:hover {
  background: var(--color-primary-600);
}

.btn.gray {
  background: rgba(0, 0, 0, 0.05);
  color: var(--color-primary-800);
}

body.dark .btn.gray {
  background: rgba(255, 255, 255, 1);
  color: var(--color-primary-200);
}

.btn.red {
  background: #f20f20;
  color: white !important;
}
.btn.red:hover {
  background: #e00e0e;
}

header {
  text-align: center;
  padding: 270px 24px 290px 24px;
  background: var(--color-primary-500);
}
.no-background {
  text-align: center;
  padding: 220px 24px 150px 24px;
  background: var(--color-primary-950);
}
header.small {
  padding: 180px 24px 82px 24px;
}

#head__home {
  background-image: url("../images/backgrounds/header_home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-header {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  margin: 32px auto 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  max-width: 968px;
}

.form-header label {
  display: none;
}

nav.hidden {
  display: flex;
}

.form-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

input,
textarea,
select {
  padding: 16px 24px;
  border: none;
  outline: none;
  width: 100%;
  background: var(--color-primary-50);
  transition: ease-in 0.1s;
  border: 2px solid transparent;
  border-radius: 16px;
}

body.dark input,
body.dark textarea,
body.dark select {
  background: var(--color-primary-800);
  color: white;
}

header input {
  background: var(--color-primary-50) !important;
  color: black !important;
}

input:focus,
textarea:focus,
select:focus {
  background: white;
  border: 2px solid var(--color-primary-100);
}

.upload_input {
  position: relative;
  cursor: pointer;
}

.upload_input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
}

.upload_input > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  padding: 24px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.upload_input > .gradient.rounded_full {
  border-radius: 100px;
}

label {
  margin-left: 16px;
  font-size: 14px;
}

.form-header input {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 1px solid var(--color-primary-700);
  border-radius: 0;
}

.form-header div:nth-child(1) input {
  border-radius: 100px 0 0 100px;
}

.form-header .btn {
  border-radius: 0;
  margin-top: 0 !important;
}

.form-header .btn:hover {
  transform: none;
  border: 2px solid transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header h1 {
  margin: 0 auto;
  font-size: 48px;
  margin-bottom: 24px;
  color: white;
}

header h2 {
  margin: 0 auto;
  font-size: 32px;
  margin-bottom: 24px;
  color: white;
}

.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.grid {
  display: grid;
  gap: 24px;
}

.grid.small-gap {
  gap: 16px;
}

.grid.no-gap {
  gap: 0;
}

.grid.align-top {
  align-items: flex-start;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

section {
  padding-top: 108px !important;
  padding-bottom: 108px !important;
}

section.green {
  background: var(--color-primary-500);
  color: black;
}

section.black {
  background: var(--color-primary-950);
  color: white;
}

section.grid {
  align-items: center;
}

#auth {
  min-height: 100vh;
}

#auth > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px;
  background: var(--color-primary-500);
  background-image: url("../images/backgrounds/auth.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#auth > div:nth-child(1) > div {
  background: rgba(255, 255, 255, 0.5);
  padding: 32px;
  border-radius: 16px;
  border: 2px solid var(--color-primary-200);
  backdrop-filter: blur(8px);
}

#auth > div:nth-child(1) h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

#auth > div:nth-child(1) p {
  font-size: 18px;
}

#auth > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px;
}

form .btn {
  margin-top: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  border: 2px solid var(--color-primary-700);
  border-radius: 24px;
  background: var(--color-primary-100);
  color: black;
  position: relative;
}

.card.big {
  padding: 24px;
}

.card .title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card .title img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  padding: 8px;
  background: white;
  border-radius: 12px;
}

.card .title h2 {
  font-size: 18px;
}

.card.dark {
  background: var(--color-primary-700);
  color: white;
  border: 2px solid var(--color-primary-600);
}

body.dark .card.dark\:dark {
  background: var(--color-primary-900);
  color: var(--color-primary-200);
  border: 2px solid var(--color-primary-800);
}

.card > img {
  border-radius: 16px;
  width: 100%;
}

.card > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card > .gradient:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  border-radius: 16px;
}

.card > .gradient.alpha:after {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.card .tags {
  display: flex;
  gap: 8px;
  align-items: center;
}

.card .tags.top {
  position: absolute;
  top: 32px;
  right: 32px;
}

.card .tags > span:not(.trip2) {
  padding: 8px 16px;
  border-radius: 100px;
  background: var(--color-primary-200);
  color: var(--color-primary-800);
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.card .trip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 32px;
  font-weight: 500;
  color: white;
}

.card .trip > span {
  text-align: center;
}

.card.hover {
  transition: var(--transitionShort);
}

.card.hover:hover {
  cursor: pointer;
  transform: scale(1.02) translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  filter: brightness(1.1);
}

.card > p {
  margin-top: 0px;
}

.mt-sm {
  margin-top: 8px !important;
}

.mt-md {
  margin-top: 24px !important;
}

.mb-sm {
  margin-bottom: 8px !important;
}

.mb-md {
  margin-bottom: 24px !important;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.stat {
  text-align: center;
  gap: 8px;
}

.stat > p {
  font-size: 18px;
  font-weight: 500;
}

.stat > div {
  font-size: 32px;
  font-weight: 700;
  font-family: "Clash Display", sans-serif;
}

ol.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

ol.buttons li {
  margin-bottom: 16px;
  width: 100%;
}

ol.buttons .btn {
  width: 100%;
  opacity: 0.9;
  border-radius: 16px;
  background: var(--color-primary-800);
  border: 2px solid var(--color-primary-700);
  color: white !important;
}

ol.buttons .btn:hover,
ol.buttons .btn.active {
  opacity: 1;
  background: var(--color-primary-700);
  border: 2px solid var(--color-primary-400);
  padding: 32px 24px;
}

footer {
  padding: 0 0 48px 0;
}

footer > div > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  list-style: none;
}

footer > p {
  font-family: "Clash Display", serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 18px !important;
}

.overlap {
  /* position: relative;
  z-index: 1;
  padding: 0 !important;
  margin-bottom: 150px; */
  transform: translateY(-300px);
  margin-bottom: -300px;
}

.overlap > * {
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  /* top: -150px; */
  background: white;
  padding: 48px;
  border-radius: 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);
}

body.dark .overlap > * {
  background: var(--color-primary-900);
  box-shadow: none;
}

.overlap.small {
  margin-bottom: -100px;
  transform: translateY(-64px);
}

.overlap .small {
  padding: 0;
  border: 1px solid var(--color-primary-100);
}

body.dark .overlap .small {
  border: 1px solid var(--color-primary-700);
}

input:read-only {
  background: var(--color-primary-50);
  color: var(--color-primary-700);
  opacity: 0.5;
  cursor: not-allowed;
}

#calendar {
  background: var(--color-primary-50) !important;
  color: black !important;
  opacity: 1;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  object-fit: cover;
  background: var(--color-primary-200);
  border: 2px solid var(--color-primary-300);
}

.avatar.big {
  width: 64px;
  height: 64px;
}

span.small {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-primary-800);
  display: block;
  margin-top: 8px;
}

.avatar.huge {
  width: 128px;
  height: 128px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.no-margin {
  margin: 0 !important;
}

.save_changes_popup {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 24px 32px;
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  z-index: 999;
  transition: var(--transitionLong);
  border: 2px solid var(--color-primary-100);
}

body.dark .save_changes_popup {
  background: var(--color-primary-900);
  border: 2px solid var(--color-primary-800);
}

.save_changes_popup.hidden {
  opacity: 0;
  pointer-events: none;
  bottom: -100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: all;
  transition: var(--transitionLong);
}

.modal-container {
  background: white;
  padding: 32px;
  max-width: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  transform: translateY(0);
  transition: var(--transitionLong);
}

.modal-container footer {
  padding: 0;
}

.modal.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.hidden .modal-container {
  transform: translateY(100px);
}

.message {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
}

.error {
  background: #ffbabf;
  color: white;
}

.success {
  background: var(--color-primary-100);
  color: var(--color-primary-800);
}

.info {
  background: #92a6ee;
  color: black;
}

.popover-wrapper {
  position: relative;
  z-index: 99;
}

.popover-wrapper .popover {
  position: absolute;
  top: calc(100% + 16px);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.164);
  z-index: 99999;
  transition: var(--transitionLong);
  border: 2px solid var(--color-primary-100);
  width: max-content;
  padding: 16px;
  max-width: 400px;
  opacity: 0;
  pointer-events: none;
}

body.dark .popover-wrapper .popover {
  background: var(--color-primary-900);
  border: 2px solid var(--color-primary-800);
}

.popover-wrapper .popover::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid white;
}

body.dark .popover-wrapper .popover::before {
  border-bottom: 16px solid var(--color-primary-900);
}

.popover-wrapper:hover .popover {
  opacity: 1;
  pointer-events: all;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.notification {
  transition: var(--transitionShort);
  border-radius: 8px;
  border: 2px solid transparent;
}

.notification.readed {
  opacity: 0.2;
}

.notification:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.notification > a {
  display: flex;
  align-items: center;
  color: black !important;
  gap: 8px;
  padding: 16px;
}

.notification img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100px;
  padding: 4px;
  background: white;
}

.badge {
  position: relative;
}

.badge > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: absolute;
  right: 0;
  top: -25%;
  background: var(--color-primary-400);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  border: 1px solid var(--color-primary-200);
  font-weight: 700;
}

#profile_navigation {
  list-style: none;
  padding: 0;
  border-radius: 24px;
  overflow: hidden;
}

#profile_navigation a {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid var(--color-primary-100);
  width: 100%;
  padding: 48px;
  transition: ease-in 0.2s;
}

body.dark #profile_navigation a {
  border-right: 1px solid var(--color-primary-700);
}

#profile_navigation a:hover,
#profile_navigation a.active {
  background: var(--color-primary-50);
}

body.dark #profile_navigation a:hover,
body.dark #profile_navigation a.active {
  background: var(--color-primary-700);
}

#profile_navigation li:nth-last-child(1) a {
  border-right: none;
}

#profile_navigation a img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

body.dark #profile_navigation a img {
  filter: invert(1);
}

.chatbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 16px;
  background: white;
  color: var(--color-primary-800);
  position: relative;
  background: white;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--color-primary-100);
  max-height: 500px;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  max-height: 500px;
  overflow-y: auto;
}

.chat_message {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
}

.chat_message.sent {
  background: var(--color-primary-100);
  color: var(--color-primary-800);
  align-self: flex-end;
}

.chat_message.received {
  background: #efefef;
  color: var(--color-primary-800);
  align-self: flex-start;
}

.conversations {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conversations a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 16px;
  transition: ease-in 0.2s;
  border: 2px solid transparent;
  width: 100%;
}

.conversations a:hover,
.conversations a.active {
  background: var(--color-primary-200);
  border: 2px solid var(--color-primary-300);
}

.no-style {
  list-style: none;
}

.flex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.space-between {
  width: 100%;
  justify-content: space-between;
}

.flex > * {
  margin-top: 0 !important;
}

.emoji {
  font-size: 32px;
  margin-bottom: 8px;
}

.hidden {
  display: none;
}
.icons {
  width: 25px;
  height: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.small {
  width: 25%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  .cols-2,
  .cols-3,
  .cols-4 {
    grid-template-columns: 1fr;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px !important;
    width: 100%;
    left: 50%;
    top: 0;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    flex-direction: column;
    z-index: 999;
    display: flex !important;
    transition: ease-in 0.2s;
  }

  nav.open {
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
  }

  nav .wrapper {
    justify-content: center;
    transform: translateY(50%);
  }

  nav .wrapper ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    font-size: 32px;
    background: transparent;
  }

  nav .wrapper ul a {
    padding: 24px 48px;
  }

  nav .btn-list {
    flex-direction: column;
  }

  nav > * {
    flex: 0;
  }

  nav.hidden > .wrapper,
  nav.hidden > .btn-list {
    display: none;
  }

  nav .branding {
    position: absolute;
    top: 24px;
    left: 24px;
    width: max-content;
    z-index: 9999;
  }

  .burger_icon {
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
  }

  .burger_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .form-header {
    grid-template-columns: 1fr;
    border-radius: 24px;
  }

  .form-header > div:nth-child(1) input {
    border-radius: 16px 16px 0 0;
  }
}
